/* Foundations */
#inner-body {
  border: 3px solid red;
}

.section {
  margin-bottom: 5px;
  background-color: pink;
}

#html-loc {
  display: flex;
  flex-direction: row;
  margin-bottom: 45px;
  border: 3px solid green;
}

#filestructure {
  width: 33% !important;
  background-color: aqua;
}

#sidepanel {
  width: 33% !important;
  background-color: brown;
}

#permissionSettings {
  width: 33% !important;
  margin: 0 !important;
  background-color:coral;
}

div#permissionSettings div {
  position: relative !important;
  left: 0 !important;
  width: 100% !important;
  background: none !important;
}

.ui-widget-content {
  padding: 5px;
}

.indented {
  margin-left: 28px;
  text-indent: -28px;
}

/* Explorer Window */
.file {
  padding: 8;
  border-bottom: 1px solid #dddddd;
  background-color: yellow;
}

.folder_contents {
}

/* Settings Window */
#adv_perm_table_container {
  height: 400px !important;
  background-color: chocolate;
}

#adv_perm_edit:hover::before {
  content: "Click to change permissions for a specific user";
  position: absolute;
  top: -30px;
  left: 200%;
  transform: translateX(-50%);
  padding: 5px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 2;
}

.permbutton:hover::before {
  content: "Click here to see the permission settings for this object";
  position: absolute;
  top: 30px;
  left: 100%;
  transform: translateX(-50%);
  padding: 5px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 2;
}

#perm_add_user_button:hover::before {
  content: "Click to select user to add to this object";
  position: absolute;
  top: -30px;
  left: 200%;
  transform: translateX(-50%);
  padding: 5px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 2;
}

#perm_remove_user:hover::before {
  content: "Click to select user to remove from this object";
  position: absolute;
  top: -30px;
  left: 200%;
  transform: translateX(-50%);
  padding: 5px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 2;
}

.permissionSettingsDialog {
  background-color: red;
  width: 100% !important;
}

/* Effective Permissions Window */
.effectivePermissions {
  padding-right: 50px;
}

.effective_perm_text {
  font-size: 1.4em;
}

#user_selector_button {

}

#user_selector_button:hover::before {
  content: "Click here to set a user whose current permissions you would like to view";
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  white-space: nowrap;
}

/* Task Description Footer */
.footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

#mturk-top-banner-drop-down-content {
  position: absolute;
  width: 99%;
  bottom: 0px;
  top: unset;
  left: 0;
  background-color: #eee;
  z-index: 100;
  padding: 10px 10px 10px 10px;
  border-left: 1px orange solid;
  border-right: 1px orange solid;
  border-top: 1px orange solid;
}


/* ? */
.ui-selected {
  background: #007fff;
  color: white;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}



/* Old Tutuorial Stuff*/
#userGuideDiv {
  padding: 5px;  
  background-color: lightgray;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  font-size: 1.25rem;
}

#userGuideDivLeft {
  width: 50%;
  padding: 30px;
}
#userGuideDivRight {
  width: 50%;
  padding: 30px;
}

#userGuideDivLeft ul {
  list-style-type: disc !important;
}

#userGuideDivBottom {
  height: 100%;
  background-color: lightgray;
  font-size: 1.5rem;
  text-align: center;
}

#userGuideDivBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tutorialImage {
  width: 70%;
  margin-bottom: 5px;
}